@charset "UTF-8";
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
    width: 110px;
    float: left;
    margin: 0;
}
.top_menu {
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.image_area{
  width: 100%;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner{
  margin-top: 20px;
}
.banner img{
  width: 100%;
}
.banner a:hover {
  opacity: 0.6;
}
.side_menu{
  width: 300px;
  float: left;
}
.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.news{
  height: 200px;
  background-color: #FCE8E7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #4D4D4D;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.banner_content {
  margin-top: 10px;
  display: table;
}
.banner_content p {
  display: table-cell;
}
.banner_content p img {
  width: 100%;
}
.side_menu .point{
  background-color: #FCECEC;
}
.side_menu .point a{
  color: #4D4D4D;
}
.contact .formWrap table{
  border-collapse: collapse;
}
.contact .formWrap tr{
  line-height: 7rem;
}
.contact .formWrap th{
  width: 150px;
  padding-right: 1rem;
  text-align: right;
}
.contact .formWrap td{
  width: 480px;
}
.contact .formWrap .button{
  text-align: center;
}
.contact .formWrap input[type="text"],
.contact .formWrap input[type="email"],
.contact .formWrap input[type="textarea"]{
  width: 100%;
}
.contact .formWrap input[type="submit"]{
  color: #fff;
  background-color: #233a61;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}
.contact .formWrap input[type="submit"]:hover{
  opacity: 0.6;
}






